.c-img {
    width: 40%;
}

.c-left {
    width: 30%
}

.c-right {
    width: 70%
}

.hero {
    background-color: rgb(205, 253, 247);
    color: black;
    position:relative; 
}
.hero2 {
    background-color: rgb(205, 253, 247);
    color: black;
    position:relative; 
   
   
}
.main-text{
    width:100px;
    font-weight:600;
}
.count-box {
    border: 1px solid rgb(97, 99, 100);
    background-color: white;
    border-radius: 5px;
    padding: 5px;

    p {
        font-size: 8px;
        margin: 0;
        font-weight: 600;
        color: #ccc;
    }


}

.watch-info {
    text-align: center;
    width: 250px;
    font-size: 15px;
    font-weight: 600;
}

.price {
    sup{
        font-size: 18px;
        color: #ccc;
       text-decoration: line-through;
    }
}
.c2 {
    width:70%;
   

}
  .c-left2{
      width: max-content;
       width:30%;
  }
  .c-right2{
      width:50%;
      position:relative;
      margin-left:-13%;
      z-index: 1;
    
      img{
       width:100%;
       margin-top:-150px;
      
      }
      
    

  }

.c-container {
    height:50vh;
}


@media(max-width:807px) {
    .car-left {
        margin: 10px !important;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items:center;

        .c-left {
            width: 100%;
            text-align: center;
            display:flex;
            flex-direction:column;
            justify-content:center;
           
            h1{
                width:100%;
                text-align:center;
            }

        }

        .c-right {
            width: 100%;
            display: flex !important;
            flex-direction: column !important;

            .c-img {
                width: 60% !important;
            }
            .c-img2 {
                width: 70%;
            }
            .details{
                width:100%;
                display:flex;
                flex-direction:column;
                justify-content:center;
                align-items:center;
                
            }
            .watch-info{
                width:max-content;
                text-align:center
            }
          .count-down{
            margin-left:20px;
            width:100%;
            display:flex;
            justify-content:center;
            .count-box{
                width:10%;
                text-align:center
                h1{
                    font-size:13px;
                }
            }
          }
          .price{
            text-align:center;
          }
        }

        .details {
           display:flex;
           flex-direction:column;
           
        }
    }
    .c-container {
        display:flex;
        .c-left2{
          
            width:50%;
        }
        .c-right2{
            width:50%;
            position:relative;
            /* margin-left:-13%;
            z-index: 1; */
          
            img{
             width:100%;
             margin-top:-50px;
            
            }
            
          
      
        }
      
    }
}